@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face{
    font-family: 'Android';
    src: url(../pacote-projeto-d010/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

/* Cores
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/
/*declaração de variaveis em CSS deve se usar 2 traços antes de qualquer variavel*/

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}
/* o "*" é utilizado para fazer uma declaração que comtempla todas as tags do HTML*/
*{
    margin: 0px;
    padding: 0px;
    /* essa configuração esta tirando toda margem e todo padding*/
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
a.externo::after{
    content: '\00A0\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5)) ;
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 3em;    
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.603)
}
header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em ;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.603)
    /* O paragrafo tem um tamanho maximo de 600px e a medida que a tela diminui o texto vai quebrando automaticamente, o margin auto centraliza*/
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.473);
}
nav > a{
    color:var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;/*tempo para ocorrer a mudança*/
}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 3px;
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411) ;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
}
main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    font-weight: normal ;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.8em;
}
main strong{
    color: var(--cor4);
    font-weight: bold;    
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
    /* por padrão uma imagem não é um block, logo para centraliza-la primeiro a definimos como um bloco depois damos um margin: auto;*/
}
/*
para centralizar o iframe com o video do youtube o primeiro passo é colocar um position relative na div e depois um position absolute no iframe, segundo passo colocar o padding bottom de 50%(varia de video para video) na div e ajustar as configurações top, left, width e height no iframe
*/
div.video{
    background-color: var(--cor5);    
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5% ;
    left: 5% ;
    width: 90% ;
    height: 90% ;
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.452);
}
aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;


}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}